@model CreateMultipleSliderVm
@{
    ViewData["Title"] = "CreateMultiple";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Multiple Slider</h4>
                        <form class="forms-sample" method="post" asp-controller="Slider" asp-action="CreateMultiple" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Title</label>
                                <input asp-for="Title" class="form-control" placeholder="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Description</label>
                                <textarea asp-for="Desc" class="form-control" placeholder="Description"></textarea>
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">SignatureImage</label>
                                <input accept="image/*" asp-for="SignatureImageFile" class="form-control" placeholder="SignatureImage">
                                <span asp-validation-for="SignatureImageFile" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">Images</label>
                                <input accept="image/*" asp-for="Images" class="form-control" placeholder="Image">
                                <span asp-validation-for="Images" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
}

